* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(31, 31, 31);
}

h1{
    margin-left: 20px;
}

.titleDiv{
    margin-top: 20px;
}

.titleName{
    margin-left: 250px;
    margin-top: -25px;
    font-size: 12px;
}

p {
    text-align: justify;
    margin-left: 20px;
    line-height: 1.5;
    letter-spacing: 0.5px; 
    font-size: 14px;
}

ul.navbar {
    list-style-type: none;
    overflow: hidden;
    margin-left: 120px;
}

li.nav-item a {
    display: block;
    color: rgb(31, 31, 31);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 35px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    animation: slideDownAndFade 3s;
}

li.nav-item a:hover {
    color: rgb(83, 83, 83);
    transform: scale(1.03); 
}

li.nav-item.right {
    float: right;
    margin-right: 20px;
}

@keyframes slideDownAndFade {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

.container {
    margin-top: 10px;
    display: flex; 
    width: 900px;
}

.side-div {
    flex: 0 0 20%; 
    padding: 20px; 
    height: 1000px;

}

.main-div {
    flex: 1; 
    padding: 20px; 
}

.subcategory-list {
    list-style-type: none;
    padding-left: 20px;
}

.category {
    font-weight: bold;
    margin-bottom: 10px;
    list-style-type: none;
    user-select: none;
}

.subcategory {
    font-weight: normal;
    margin-bottom: 5px;
    user-select: none;
}

.subcategory:hover {
    color: white; 
}

.brainfuck {
    font-weight: normal;
    color: black; 
    transition: color 0.3s;
}

.brainfuck:hover {
    color: white; 
    transition: color 0.3s;
}

.brainfuck:hover::after {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
}


.topSeparator {
    height: 1px;
    width: 900px;
    margin-left: 20px;
    margin-top: 21px;
    background-color: #000000; 
    border: none;
}

.postSeparator{
    height: 1px;
    width: 720px;
    margin-top: 30px;
    background-color: #000000; 
    border: none;
}

.date{
    font-size: 12px;
    text-indent: 22px;
}

#loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    background-color: #000000; 
    width: 0;
    transition: width 0.3s;
    z-index: 999;
}

.light-string {
    position: relative;
    width: 2px;
    height: 200px;
    background-color: #000000;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: rgb(251, 5, 5);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: calc(50% - 350px);
    cursor: pointer;
    z-index: 2;
}

#string {
    width: 2px;
    height: 200px;
    background: #000;
    position: absolute;
    top: 0;
    right: calc(50% - 450px); 
}

#ball {
    width: 23px;
    height: 23px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
    top: 200px;
    right: calc(50% - 461px); 
    cursor: pointer;
}





