* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(31, 31, 31);
}

h1{
    margin-left: 20px;
}

ul.navbar {
    list-style-type: none;
    overflow: hidden;
    margin-left: 120px;
}

li.nav-item a {
    display: block;
    color: rgb(31, 31, 31);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 35px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    animation: slideDownAndFade 3s;
}

li.nav-item a:hover {
    color: rgb(83, 83, 83);
    transform: scale(1.03); 
}

li.nav-item.right {
    float: right;
    margin-right: 20px;
}

@keyframes slideDownAndFade {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

.container {
    margin-top: 10px;
    display: flex; 
    width: 1100px;
}

.side-div {
    flex: 0 0 20%; 
    padding: 20px; 
    height: 1000px;

}

.main-div {
    flex: 1; 
    padding: 20px; 
    width: 200px;
    
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; 
    }

    .side-div, .main-div {
        flex: 1;
        width: 100%; 
    }
}

.subcategory-list {
    list-style-type: none;
    padding-left: 20px;
}

.category {
    font-weight: bold;
    margin-bottom: 10px;
    list-style-type: none;
    user-select: none;
}

.subcategory {
    font-weight: normal;
    margin-bottom: 5px;
    user-select: none;
}

hr {
    height: 1px;
    width: 400px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #000000; 
    border: none;
}

.date{
    font-size: 12px;
    text-indent: 22px;
}